@{
    ViewBag.Title = "N Capas";
}

@section scripts {

}

<h2>N capas</h2>

<div class="row">
    <div class="col-lg-6">
        <p>En este caso vamos a hablar y describir las caracteristicas de cada una de las capas necesarias y basicas para cada proyecto, 
        No quiere decir que sean las unicas ni que falte agregar alguna otra cross a todos los proyectos la idea es que sea incremental 
        pero respetando criterios basicos y justificables.</p>
    </div>
</div>