
@section scripts {

}



<h3>Bienvenido al manifiesto del equipo de .NET</h3>

<p>Si estas aca es porque queres entender como trabajamos, y para ello con el equipo tuvimos la iniciativa de implementar
un sitio con algunas normas y buenas practicas para poder alinearnos en la forma que se deben hacer las cosas.</p>
<p>Hay que aclarar que somos <b>AGNOSTICOS</b> hasta de lo que esta aqui manifestado, si tenes alguna sugerencia u opinion
por favor no dudes en colaborar con nosotros para poder crecer juntos.</p>